
.colorSea{
    background-color: rgba(41, 54, 67,0.92) !important;
}

.imgBanner{
    width: 80%;
}

.colorSeaText{
    color: rgb(41, 54, 67) !important; 
}

.btn-outline-sea{
    color: rgb(41, 54, 67) !important;
    background-color: #f8f9fc!important;
    border-color: rgba(41, 54, 67, 0.16) !important;

}

.btn-outline-sea:hover{
    background-color: rgb(41, 54, 67) !important;
    color: #f8f9fc!important;
}

.whiteSmoke{
    background-color: whitesmoke !important;
}

.black{
    color: #000;
}

.borderSea{
    border-color: rgb(41, 54, 67) !important;
    border-width: 2px !important;
}

.cursor {
    cursor: pointer;
}

#map {
    height: 500px;
}